.container {
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.mat-card {
    background-color: black;
    color: #fff;
   
}

.button {
    margin-right: 10px;
}

.image {
    max-width: 300px;
}

.example-card {
    max-width: 400px;
  }

