<div class="container">
    <mat-card class="example-card">
          <mat-card-title>MacBook M2</mat-card-title>
          <img class="image" mat-card-image src="../../../assets/images/macbook.jpg">
        <mat-card-content>
          <p>Price: 1500 $</p>
          <p>Chip: M3 Pro</p>
          <p>Year: 2023</p>
        </mat-card-content>
        <mat-card-actions>
          <button class="button" mat-flat-button color="primary" routerLink="/basket">Shopping Cart</button>
          <button class="button" mat-flat-button color="primary">More Details</button>
        </mat-card-actions>
      </mat-card>      
</div>
